.nav.feed-nav {
  display: flex;
  padding-top: 2rem;
  gap: 2rem;
}

.nav-link.feed-nav-link {
  padding: 0;
  color: rgb(0, 0, 0);
  font-weight: 600;
}

.active > .feed-nav-text {
  border-bottom: 0.2rem solid #e6232a;
  padding-bottom: 0.3rem;
}
