.card.news-card {
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.card-body.news-card-body {
  padding: 2rem 0;
}

a.news-card-title {
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.news-card-img {
  padding-bottom: 2rem;
}
